{% extends 'padre.html' %}

{% load static%}
  
{% block contenido %}
    <main class="container">
        <h1 class="text-center title">Profesores</h1>
        <table class="table">
            <tbody>
                <h2>Buscar Profesor</h2>
                <form action="buscardor_de_profesores" method="GET">
                    <p>Ingrese el nombre del Profesor</p>
                    <input type="text" name="nombre" id="nombre">
                    <button>Buscar</button>
                </form>
            </tbody>
        </table>
    </main>
{% endblock %}