{% extends "padre.html" %}

{% load static %}
 
{% block contenido %}
<main class="container">
    <h1 class="text-center title">Modificar</h1>
    <form action="{% url 'modificar_profesor' profesor.id %}" method="POST">
        {% csrf_token %}
        <p>Nombre</p>
        {{mi_formulario.nombre}}
        <p>Apellido</p>
        {{mi_formulario.apellido}}<br><br>
        <p>Materia</p>
        {{mi_formulario.materia}}<br><br>
        <p>Email</p>
        {{mi_formulario.email}}<br><br>
        <button class="btn btn-primary">Enviar</button>
    </form>
</main>  

{% endblock %}


