{% extends 'padre.html' %}

{% load static%}
 
{% block contenido %}
    <main class="container">
        <h1 class="text-center title">Profesores</h1>
        {% if profesor  %} 
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Materia</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>                   
                    <tr>
                        <td>{{profesor.nombre}}</td>
                        <td>{{profesor.apellido}}</td>
                        <td>{{profesor.materia}}</td>
                        <td>{{profesor.email}}</td>
                        <td><a class="btn btn-primary btn-sm" href="">Eliminar</a></td>
                        <td><a class="btn btn-primary btn-sm" href="{% url 'modificar_profesor' profesor.id %}">Modificar</a></td>
                    </tr>
                </tbody>
            </table>
        {% endif %}         
    </main>    
{%  endblock %}
